# build output
**/dist

# generated types
**/.astro
**/schema.prisma

# dependencies
**/node_modules

# environment variables
# **/.env*

# test artifacts
**/tests
**/test-results
**/playwright-report
**/blob-report
**/playwright/.cache

# logs
**/npm-debug.log*

# macOS-specific files
**/.DS_Store

# docker
**/docker-compose.yaml
**/Dockerfile
**/.dockerignore

# vscode
.vscode

# eslint
**/.eslintcache

# readme
**/*.md

# tmux
dev-tmux

# git
.git
.gitignore

# turbo
**/.turbo

# eslint
**/eslint-config
**/eslint.config.mjs

# prettier
prettier.config.mjs
