# build output
dist

# generated types
.astro

# turbo
.turbo

# dependencies
node_modules

# environment variables
.env*

# eslint
.eslintcache

# test artifacts
coverage
test-results
playwright-report
blob-report
playwright/.cache

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dev-tmux.log

# misc
.DS_Store
*.pem

# nektos/act
.secrets
.vars

# dmno files
**/.dmno/cache.json
**/.dmno/cache-key.json
**/.dmno/.typegen
**/.dmno/.icon-cache
**/.dmno/certs
