services:
  astro:
    build:
      context: ./
      dockerfile: ./apps/web/Dockerfile
    ports:
      - 3000:80
    env_file: ./apps/web/.dmno/.env.docker

  fastify:
    build:
      context: ./
      dockerfile: ./apps/api/Dockerfile
    ports:
      - 3001:3001
    env_file: ./apps/api/.dmno/.env.docker
    depends_on:
      - postgres

  postgres:
    image: postgres:alpine
    restart: always
    ports:
      - 5432:5432
    env_file:
      - path: ./packages/db/.dmno/.env.docker
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 10s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer
    restart: always
    ports:
      - 5431:8080
    environment:
      - ADMINER_DESIGN=dracula

volumes:
  pgdata:
