# build output
dist

# generated types
.astro

# dependencies
node_modules

# environment variables
.env.example
.env.local

# test artifacts
tests
test-results
playwright-report
blob-report
playwright/.cache

# logs
npm-debug.log*

# macOS-specific files
.DS_Store

# docker
Dockerfile
.dockerignore
